<style>
embed { width: 100vh; height: 100vh; z-index: -1; }
embed > * { width: 100%; height: 100vh; }
img { width: 100vh; height: 100vh; z-index: -1; }


#light_f + label { vertical-align: middle; background-color: black; padding: 1%; margin: 1%; }

#light_f + label:before {
  content: "lightbulb";
      color: grey;
            }

#light_f:checked + label:before {
  content: "lightbulb";
      color: white;
            }

#light_b + label { vertical-align: middle; background-color: black; padding: 1%; margin: 1%; }

#light_b + label:before {
  content: "lightbulb";
      color: darkred;
            }

#light_b:checked + label:before {
  content: "lightbulb";
      color: red;
            }

#direction + label { vertical-align: middle; background-color: black; padding: 1%; margin: 1%; }

#direction + label:before {
  content: "north";
    color: blue;
      }

#direction:checked + label:before {
  content: "south";
    color: yellow;
      }

#brakes + label { vertical-align: middle; background-color: black; padding: 1%; margin: 1%; }

#brakes + label:before {
  content: "stop";
    color: green;
      }

#brakes:checked + label:before {
  content: "stop";
    color: red;
      }

</style>

<input type='hidden' name='dev' value='<%= params[:dev] %>'>

<embed src='http://<%= params[:dev] %>' style=''></embed>
<h1 style='width: 100%; text-align: center; margin: 0; padding: 0; position: fixed; top: 0;'>
<input placeholder='0000' style='vertical-align: middle; margin: 0; padding: 0;'>
<button class='ws material-icons'
style='vertical-align: middle; margin: 0; padding: 0; border: none; color: green'>send</buton>
</h1>
<embed src='http://<%= params[:dev] %>' style=''></embed>
<h1 style='width: 100%; text-align: center; margin: 0; padding: 0; position: fixed; bottom: 0;'>

<input id='light_f'  name='light_front' type='checkbox' style='display: none;'>
<label for='light_f' class='material-icons'></label>

<input id='light_b' name='light_back' type='checkbox' style='display: none;'>
<label for='light_b' class='material-icons'></label>


<input id='direction' name='direction' type='checkbox' style='display: none;'>
<label for='direction' class='material-icons'></label>

<button name='turn' value='L' class='ws material-icons'>west</button>
<button name='turn' value='G' class='ws material-icons' backgroumd-color: green;>north</button>
<button name='turn' value='R' class='ws material-icons'>east</button>
</h1>

<script>
<%= erb :websocket %>
</script>