<fieldset class='phases' id='phase_0'>
<legend>nomad usage</legend>
<ul>
<li>co-brand focused.</li>
<li>influencer driven.</li>
<li>organized by zones.</li>
<li>owned by it's creators.</li>
</ul>
<fieldset><legend>getting started...</legend>
<ol>
<li><button type='button' class='phase' value='1'>create your zone.</button></li>
<li><button type='button' class='phase' value='2'>add team members.</button></li>
<li><button type='button' class='phase' value='3'>create waypoints.</button></li>
<li><button type='button' class='phase' value='4'>market waypoints.</button></li>
</ol>
</fieldset>
</fieldset>


<fieldset class='phases' id='phase_1' style='display: none;'>
<legend>create your zone</legend>
<ul>
<li>get some tokens.</li>
<li>use the bank to estimate zone resources.</li>
<li>think of a good name.</li>
</ul>
</fieldset>

<fieldset class='phases' id='phase_2' style='display: none;'>
<legend>add team members</legend>
<ul>
<li>invite users.</li>
<li>set their class, title, and zone.</li>
<li>show them how to set up their profile.</li>
</ul>
</fieldset>

<fieldset class='phases' id='phase_3' style='display: none;'>
<legend>create waypoints</legend>
<ul>
<li>create waypoint passwords and categories for special offers and points of interest.</li>
<li>use the crowd indicator to show how busy you are.</li>
</ul>
</fieldset>

<fieldset class='phases' id='phase_4' style='display: none;'>
<legend>market waypoints</legend>
<h4 style='width: 100%; text-align: center;'>schedule your content planning session today</h4>
<ul>
<li>self-shot</li>
<li>first-person</li>
<li>influencer-driven</li>
<li>experiential marketing.</li>
</ul>
<h4 style='width: 100%; text-align: center;'>we get it all in one take.</h4>
</fieldset>

<nav style='position: fixed; bottom: 0; width: 100%; text-align: center;'>
<button type='button' class='phase material-icons' value='0' class='material-icons' style='vertical-align: middle;'>info</button>
<button type='button' class='phase' value='1'>1</button>
<button type='button' class='phase' value='2'>2</button>
<button type='button' class='phase' value='3'>3</button>
<button type='button' class='phase' value='4'>4</button>
</nav>
<script>
$(document).on('click', '.phase', function(ev) {
ev.preventDefault();
console.log($(this));
$('.phases').hide();
$('#phase_' + $(this).val()).show();
});
</script>