<% @user = U.new(params[:u]) %>
<% @zone = Zone.new(params[:z]) %>

<fieldset>
  <legend>main interface</legend>
  <fieldset>
    <legend>qr scanner</legend>
    <ul>
      <li>send referrals</li>
      <li>reward collegues</li>
    </ul>
    <p>These are powerfull tools which can be leveraged to great effect.  Ask your referrer for more information about how these tools are used in this zone.</p>
  </fieldset>
  <fieldset>
    <legend>qr badge</legend>
    <ul>
      <li>show qualifications and awards</li>
      <li>represent sponsor</li>
      <li>rsvp for non-users</li>
    </ul>
    <p>It is your portal with the network.</p>
  </fieldset>
  <fieldset>
    <legend>messages</legend>
    <ul>
      <li>leave notes for zone members</li>
      <li>release short term special offers.</li>
    </ul>
    <p>Messages will be sent to all of the members of the zone.  Specials will be sent to all members and users of the zone and cost 1<span class='material-icons'>toll</span> per user.</p>
  </fieldset>

  <fieldset>
    <legend class='material-icons'>edit</legend>
    <fieldset>
      <legend>waypoint</legend>
      <p>You can vote on the busyness of your waypoint with the slider. Voting helps everyone.</p>
    </fieldset>
    
    <fieldset>
      <legend>passwords</legend>
      <ul>
	<li>password: what do they say?</li>
	<li>badge: what they get.</li>
	<li>pin: specific location or generic zone password?</li>
      </ul>
      <p>A waypoint is a specific stop within a zone on an adventure.  When a player is sent to your waypoint the will be directed to the appropriate location and given the password. You can send others to waypoints by scanning their badge.</p>
    </fieldset>
  </fieldset>
  <fieldset>
    <legend class='material-icons'>settings</legend>
    <ul>
      <li>name: what would you like to be called?</li>
      <li>pitch: what are you selling?</li>
      <li>link: where would you like your clients directed?</li>
      <li>title: what are you called by others?</li>
      <li>sponsor: who is sponsoring you?</li>
      <li>contact: would you like to be called or texed? or not.</li>
      <li>phone: what phone number would you like used?</li>
      <li>luck: what would like to use for random luck for your clients?</li>
      <li>image: the image for your rsvp app background.</li>
      <li>one time key: used for authenticating remote devices.</li>
    </ul>
  </fieldset>
</fieldset>
