<style>
.material-icons { vertical-align: middle; }
#powerbar { background-color: black; } 
#powered { color: white; font-size: 75%; }
#powered > * { color: white; }
#powered > a { color: orange; }
</style>
<p id='powerbar'><span id='powered'><a href='<%= @path %>/nomad' style='text-decoration: none;'><span class='material-icons'>hiking</span></a>powered by a network of nomads.</span></p>