<style>
h1 { width: 100%; }
h1 > * { vertical-align: middle; }
input { width: 60%; }
</style>
<div id='shares' class='displays' style='display: none;'>
<h3 id='amt' style='text-align: center; width: 100%; margin: 0;'>
<span class='material-icons'>savings</span><%= Shares.cost %></span>
<select name='shares[mode]'>
<% if Bank.wallet[@user.id] > Shares.cost %>
<option value='buy'>buy</option>
<% end %>
<% if Shares.by[@user.id] >= 1 %>
<option value='sell'>sell</option>
<% end %>
</select>
<input type='number' id='qty' name='shares[qty]' step='1' min='1' max='<%= (Bank.wallet[@user.id].to_i / Shares.cost).to_i %>' value='<%= Shares.by[@user.id].to_i %>' style='width: 20%;'>
<button type='submit' class='ready material-icons'>confirmation_number</button>
</h3>
</div>
<script>
$(document).on('change', '#qty', function(ev) {
ev.preventDefault();
var desc = $('#qty').val() + " shares.";
var amt =  ($('#qty').val() * <%= Shares.cost %>);
$('#desc').html(desc);
$('#amt').html("<span><span class='material-icons'>savings</span>" + amt + "</span>");
});
$(document).on('click', '.ready', function() {
$('form').submit();
});
</script>