<style>
input { margin: 0; width: 100%; }
textarea { margin: 0; width: 100%; font-size: x-large; }
legend { background-color: white; color: black; padding: 1%; border-radius: 50px; }
</style>
  <p><input type='text' name='waypoint[location]' placeholder='location'></p>
  <p><input type='text' name='waypoint[description]' placeholder='description'></p>
<fieldset id='passwords'><legend>passwords</legend>
  <p style='width: 100%; text-align: center;'>
    <span style='background-color: white; padding: 2%; border-radius: 50px;' class='material-icons'>child_friendly</span>
    <input type='range' min='0' max='7' name='waypoint[passwords][lvl]' style='width: 65%;'>
    <span style='background-color: white; padding: 2%; border-radius: 50px;' class='material-icons'>nightlife</span>
  </p>
  <input name='waypoint[passwords][say]' placeholder='SAY'>
  <input name='waypoint[passwords][to]' placeholder='TO'>
  <input name='waypoint[passwords][for]' placeholder='FOR'>
</fieldset>
